<h2>
  But this component is very fast to update. No controllers required!
</h2>
<p>
  Here's a random number at the speed of ViewComponent rendering: <%= Random.rand(100) %>
  <br>
  <a href="#" data-reflex="click->PartialReflex#random" data-reflex-root="#fast">Partial refresh</a> (of just this number, happens without delay)
</p>
